.projects {
  padding: 0 1.5em;
  margin-bottom: 5em;
  &_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;

    @media (width <= 1080px) {
      flex-direction: column;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  &_image {
    grid-column: 1 / 8;
    grid-row: 5 / 21;
  }

  &_details {
    &-heading {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    &-desc {
      font-size: 20px;
      font-weight: 400;
      margin-block-end: 8px;
    }

    &-btn {
      font-size: 16px;
      font-weight: 500;
      padding: 6px 14px;
      background-color: #1f9af1;
      color: white;
    }
  }

  &_badge {
    display: block;
    width: fit-content;
    background-color: #1b769cbd;
    color: white;
    padding: 2px 8px;
    border-radius: 2px;
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
  }
}
